{{- $lang := .Type | default "text" -}}
{{- $title := .Attributes.title | default (printf "%s" $lang) -}}
<div class="code-block">
    <div class="code-block__header">
        <span class="code-block__dot code-block__dot--red"></span>
        <span class="code-block__dot code-block__dot--yellow"></span>
        <span class="code-block__dot code-block__dot--green"></span>
        <span class="code-block__spacer"></span>
        <span class="code-block__title">{{ $title }}</span>
    </div>
    <div class="code-block__body">
        {{- if transform.CanHighlight .Type -}}
        {{- with transform.HighlightCodeBlock . -}}
        <pre class="chroma" tabindex="0"><code>{{ .Inner }}</code></pre>
        {{- end -}}
        {{- else -}}
        <pre tabindex="0"><code>{{ .Inner }}</code></pre>
        {{- end -}}
    </div>
</div>
